<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium:101" thread-count="2" parallel="tests">

    <test name="LambdaTest">
        <parameter name="email" value="test@test.com"/>
        <parameter name="username" value="lambda"/>
        <parameter name="password" value="lambda123"/>
        <parameter name="rateExperience" value="90"/>

        <classes>
            <class name="Tests.LambdaTest"></class>
        </classes>
    </test>


</suite>